<div class="scroll-wrapper disable-scrollbars">
    <div class="d-flex py-3 w-100 align-items-center">
        <!-- Scrollable button list -->
        <div class="d-flex overflow-auto w-100 flex-nowrap scroll-buttons">
            <div class="me-3 flex-shrink-0">
                <a href="?" class="text-decoration-none">
                    <button type="button" class="btn {{ is_selected_brand('', brand_filter) }} text-nowrap">All brands</button>
                </a>
            </div>
            {% for brand in brands %}
            <div class="me-3 flex-shrink-0">
                <a href="{{ url_for('list_sets', brand=brand.name) }}" class="text-decoration-none">
                    <button type="button" class="btn {{ is_selected_brand(brand.name, brand_filter) }} text-nowrap">{{ brand.name }}</button>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>