{% extends 'base.html' %}

{% block title %} {{ brick_set.brand.name }} - {{ brick_set.name }} {% endblock %}

{% block content %}
<style>
    .image-wrapper img {
        width: 100%;
        height: 70vh;
        object-fit: contain;
    }
</style>

<div class="container-fluid min-vh-100 d-flex align-items-center">
    <div class="row">
        <div class="col-lg-6 p-lg-0 p-3 d-flex align-items-center justify-content-center">
            <div class="image-wrapper">
                {% if brick_set.image_url %}
                    <img src="{{ brick_set.image_url }}" alt="Brick Set Image">
                {% else %}
                    <img src="/static/assets/img/bricks_1.jpeg" class="grayscale-image img-fluid" alt="...">
                {% endif %}
            </div>
        </div>

        <!-- Right side -->
        <div class="col-lg-6 d-flex flex-column justify-content-center p-3 p-lg-5 text-center text-lg-start">
            <h1 class="mb-1 mb-lg-4">{{ brick_set.name }}</h1>
            <p class="fs-5">
                <strong>Brand:</strong> {{ brick_set.brand.name }}<br>
                <strong>Set ID:</strong> {{ brick_set.set_id }}<br>

                {% set infos = [
                    ('Pieces', brick_set.pieces),
                    ('Minifigures', brick_set.minifigures),
                    ('Year', brick_set.year),
                ] %}

                {% for label, value in infos %}
                    {% if value %}
                        <strong>{{ label }}:</strong> {{ value }}<br>
                    {% endif %}
                {% endfor %}
            </p>

            {% if brick_set.description %}
            <p style="text-align: justify;">{{ brick_set.description }}</p>
            {% endif %}

            {% if brick_set.tags %}
            <div class="mb-3 d-flex flex-column flex-sm-row align-items-sm-center">
                <strong class="fs-5 mb-2 mb-sm-0 me-sm-2 flex-shrink-0">Tags</strong>
                <div class="scroll-wrapper disable-scrollbars flex-grow-1">
                    <div class="d-flex gap-2">
                        {% for tag in brick_set.tags %}
                            <div class="flex-shrink-0">
                                <button class="btn btn-outline-primary btn-sm text-nowrap" disabled>{{ tag.name }}</button>
                            </div>
                         {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="d-flex justify-content-center justify-content-lg-start mt-4 gap-2 flex-wrap">
            {% if brick_set.instruction_url %}
                <a href="{{ brick_set.instruction_url }}" target="_blank" class="btn btn-success">View Instruction Manual</a>
            {% endif %}
            {% if brick_set is in current_user.owned_sets %}
                <!-- Button to remove from inventory -->
                <form action="{{ url_for('remove_set_from_user') }}" method="post" style="display:inline;">
                    <input type="hidden" name="set_id" value="{{ brick_set.sid }}">
                    <button type="submit" class="btn btn-danger">Remove from Inventory</button>
                </form>

            {% else %}
                <!-- Button to add to inventory -->
                <form action="{{ url_for('add_set_to_user') }}" method="post" style="display:inline;">
                    <input type="hidden" name="set_id" value="{{ brick_set.sid }}">
                    <button type="submit" class="btn btn-success">Add to Inventory</button>
                </form>
            {% endif %}
            </div>
        </div>
        <div class="col-12 mt-3 mt-lg-4 text-center">
            <a href="{{ url_for(og_route) }}" class="btn btn-primary btn-lg mb-3">Go Back</a>
        </div>
    </div>
</div>

{% endblock %}
